{% extends 'base.htm' %}

{% block title %} NameForm {% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<p>Hi , add Names here</p>
<a href="{{url_for('home')}}">Back</a>
<form method="POST" novalidate>
        {{form.hidden_tag()}}
        <p>
          {{form.name.label()}}
          {{form.name()}}
          {% for error in form.name.erros %}
        {{error}}
        {% endfor%}
        </p>
        <p>
          {{form.surname.label()}}
          {{form.surname()}}
          {% for error in form.surname.erros %}
          {{error}}
          {% endfor %}
        </p>
        <p>
          {{form.age.label()}}
          {{form.age()}}
          <ul>
            {% for error in form.age.errors %}

              <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
                
                {% endfor %}
            
          </ul>
         
        </p>
        <button type="submit">Save</button>

</form>

{% endblock %}

